{% extends 'website/index.html' %}
{% load staticfiles %}
{% block body_block %}

<h1 class="display-3">Prévotat Jérôme</h1>

<!--------------------------------------------------------------------------------------------------
---- TOP PART
--------------------------------------------------------------------------------------------------->
<div class="container-fluid">
    <h3>Contact :</h3>
    <div class="row mx-auto categorie">
        <div class="col-5">
            <p class="top-text">Téléphone : 06.69.01.99.71
                <br>Email : jer.prevotat@gmail.com
            </p>
        </div>
        <div class="col-5">
            <p class="top-text">Adresse Postale :
                <br>131 Ter Avenue de Clichy
                <br>75017 Paris
            </p>
        </div>
        <div class="col-2 align-self-end">
            <div id="github" class="row">
                <div class="col-12">
                    <a class="img-link" href="https://github.com/jeeej">
                        <img class=" test img-fluid" src="{% static 'website/buttons/github-icon.png' %}"/>
                    </a>
                </div>
            </div>
            <div id="linkedin-pdf" class="row">
                <div class="col-6">
                    <a class="img-link" href="https://www.linkedin.com/in/j%C3%A9r%C3%B4me-pr%C3%A9votat-656165158/">
                        <img class="img-fluid" src="{% static 'website/buttons/linkedin-icon.png' %}"/>
                    </a>
                </div>
                <div class="col-6">
                    <!--><a class="img-link" href="{% static 'CV_Prevotat_Jerome.pdf' %}"-->
                    <a class="img-link" href="{% static '/website/files/CV_Prevotat_Jerome.pdf' %}">
                        <img class="img-fluid" src="{% static 'website/buttons/pdf-icon.png' %}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

<!--------------------------------------------------------------------------------------------------
---- MIDDLE PART
--------------------------------------------------------------------------------------------------->
    <h3>Compétences :</h3>
    <div id="custom-list-skills" class="row mx-auto categorie">
        <div class="col-4 container">
            <h5>Général :</h5>
            <ul class="list-unstyled">
                <li>HTML/CSS</li>
                <li>Javascript</li>
                <li>SQL</li>
                <li>Python</li>
                <li>C</li>
            </ul>
        </div>
        <div class="col-4 container">
            <h5>Frameworks :</h5>
            <ul class="list-unstyled">
                <li>Django</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div class="col-4 container">
            <h5>Divers :</h5>
            <ul class="list-unstyled">
                <li>Unix</li>
                <li>Git</li>
            </ul>
        </div>
    </div>

<!--------------------------------------------------------------------------------------------------
---- MIDDLE PART 2
--------------------------------------------------------------------------------------------------->
    <h3>Expérience :</h3>
    <div id="custom-list-skills-2" class="row categorie horizontal-list-container no-gutters">
        {% block project_block%}
        {% endblock %}
    </div>

<!--------------------------------------------------------------------------------------------------
---- BOTTOM PART 2
--------------------------------------------------------------------------------------------------->
    <h3>Études :</h3>
    <div class="row mx-auto categorie">
        <div class="col-6 container">
            <p>Bac Scientifique Spé Maths <br> Lycée Saint Cyr <br> 58000 Nevers</p>
        </div>
        <div class="col-6 container">
            <p>42 Born to Code <br> 75017 Paris</p>
        </div>
    </div>
</div>
{% endblock %}
