{% extends 'bugtracker/index.html' %}
{% load static %}
{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>Known Issues
        </div>
        <div class="card-body">
            <a href="{% url 'report-issue' %}">
            <button type="button" name="report-button" class="btn btn-danger">Report a new Issue</button></a>
            <a href="{% url 'register' %}">
                <button type="button" name="log-btn" class="btn btn-primary">Log In</button>
            </a>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Severity</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Status</th>
                            <th>Severity</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Last Updated</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% block issue_block %}
                        {% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
